@import url('https://fonts.googleapis.com/css2?family=Kanchenjunga:wght@400;500;600;700&family=Nanum+Pen+Script&family=Quicksand:wght@300..700&display=swap');
@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

@layer base {
    body {
        font-family: 'Quicksand', ui-sans-serif, system-ui, sans-serif;
    }
}

@layer utilities {
    .font-nanum {
        font-family: 'Nanum Pen Script', cursive;
    }
    .font-Kan {
        font-family: 'Kanchenjunga', cursive;
    }
}

.input {
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #d1d5db; /* Tailwind's border-gray-300 */
    border-radius: 0.75rem; /* Tailwind's rounded-xl */
    outline: none;
    background-color: #f9fafb; /* Tailwind's bg-gray-50 */
  }
  .input:focus {
    box-shadow: 0 0 0 2px #93c5fd; /* Tailwind's focus:ring-blue-300 */
  }